@model User
@{
	bool exists = Model != null;
	if(!exists)
	{
		ViewData["Title"] = "Detalles del usuario";
	}
	else
	{
		ViewData["Title"] = "Detalles del usuario: " + Model.Username;
	}
}
<h1>@ViewData["Title"]</h1>

<div style="margin: 10px 0px;">
	<a class="btn btn-primary" 
		asp-controller="User" 
		asp-action="Edit" 
		asp-route-id="@Model.IdUser">Editar</a>
	<a class="btn btn-danger" 
		asp-controller="User" 
		asp-action="Delete" 
		asp-route-id="@Model.IdUser">Eliminar</a>
</div>


@if(exists)
{
<ul class="list-group" style="max-width: 500px;">
	<li class="list-group-item"><b>ID:</b> @Model.IdUser</li>
	<li class="list-group-item"><b>Nombre de usuario:</b> @Model.Username</li>
	<li class="list-group-item"><b>Fecha nacimiento:</b> @Model.DateBirth.ToString("dd/MM/yyyy")</li>
	<li class="list-group-item"><b>Fecha ingreso:</b> @Model.DateIn</li>
</ul>
}
else
{
	<h2>No existe el usuario solicitado.</h2>
}