@model IEnumerable<User>
@{
	ViewData["Title"] = "Usuarios";
}
<h1>@ViewData["Title"]</h1>

<a class="btn btn-primary" style="margin: 10px 0px;" asp-controller="User" asp-action="Create">Crear</a>

@if (ViewBag.Mensaje != null)
{
<div class="alert alert-success" role="alert">
    @ViewBag.Mensaje
</div>
}
@if (ViewBag.MensajeError != null)
{
<div class="alert alert-danger" role="alert">
    @ViewBag.MensajeError
</div>
}

<table class="table table-primary table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha Nacimiento</th>
      <th scope="col">Fecha Ingreso</th>
    </tr>
  </thead>
  <tbody>
@foreach(var obj in Model)
{
    <tr>
      <td><a asp-controller="User" asp-action="Details" asp-route-id="@obj.IdUser">@obj.IdUser</a></td>
      <td>@obj.Username</td>
      <td>@obj.DateBirth.ToString("dd/MM/yyyy")</td>
      <td>@obj.DateIn</td>
    </tr>
}
  </tbody>
</table>