@model IEnumerable<User>
@{
	ViewData["Title"] = "Usuarios";
}


<h1>@ViewData["Title"]</h1>

<button asp-controller="User" asp-action="Create">Crear</button>

<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha Nacimiento</th>
      <th scope="col">Fecha Ingreso</th>
    </tr>
  </thead>
  <tbody>
@foreach(var obj in Model)
{
    <tr>
      <td><a asp-controller="User" asp-action="Details" asp-route-id="@obj.IdUser">@obj.IdUser</a></td>
      <td>@obj.Username</td>
      <td>@obj.DateBirth</td>
      <td>@obj.DateIn</td>
    </tr>
}
  </tbody>
</table>